/* 여긴 app.css입니다. */


@font-face {
    font-family: 'IM_Hyemin-Regular.otf';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IM_Hyemin-Regular.otf';
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    --bg:#D5E2F2;
    --green:#D4d9ad;
    --yellow:#f2e0c9;
    --shadow:#b0d5d9;
}


#TotalDiv{
    width: 600px;
    height: 900px;
    margin-top: 10px;
    margin-left: 10px;
    background: var(--bg);
    border: 1px solid gray;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    
}



#TitlePage>input{
    font-family: 'IM_Hyemin-Regular.otf';
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
    width: 80%;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    border: 2px solid var(--shadow);
    border-radius: 15px;   
}
#TitlePage>input:focus{
    outline: none;
}

#mainIcon{
    width: 250px;
    height: 250px;
    margin-top: 200px;
    margin-bottom: 50px;
}

#MainPage{
  
}

#MainTop{
    height: 80px;
    width: 580px;
    border-radius: 25px;
    background: var(--yellow);
    margin: auto;
    margin-top: 10px;
    display: block;
}

#MainTop>input{
    font-family: 'IM_Hyemin-Regular.otf';
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 0px;
    
}
#MainTop>h1{
    text-align: center;
    display: inline-block;
}

#MainTop_TitlePage{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#MainTop_ChatPage{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}