/* 여긴 app.css입니다. */


@font-face {
    font-family: 'IM_Hyemin-Regular.otf';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IM_Hyemin-Regular.otf';
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    --bg:#D5E2F2;
    --green:#D4d9ad;
    --yellow:#f2e0c9;
    --shadow:#b0d5d9;
}


#TotalDiv{
    position: relative;
    width: 600px;
    height: 900px;
    margin-top: 10px;
    margin-left: 10px;
    background: var(--bg);
    border: 1px solid gray;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    z-index: 1;
}



#TitlePage>input{
    font-family: 'IM_Hyemin-Regular.otf';
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
    width: 80%;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    border: 2px solid var(--shadow);
    border-radius: 15px;   
}
#TitlePage>input:focus{
    outline: none;
}

#TitleIcon{
    width: 250px;
    height: 250px;
    margin-top: 200px;
    margin-bottom: 50px;
}
/* ==== Main page ==== */


#MainPage{
    width: auto;
    height: auto;
}

#header{
    height: 80px;
    width: 580px;
    border-radius: 25px;
    background: var(--yellow);
    margin: auto;
    margin-top: 10px;
    display: block;
}
#header>input{
    font-family: 'IM_Hyemin-Regular.otf';
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 0px;
    
}
#header>h1{
    text-align: center;
    display: inline-block;
}

#BackInput{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#ForthInput{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.MainContent{
    width: 559px;
    height: 80px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: center;
    background-color: var(--bg);
    font-family: 'IM_Hyemin-Regular.otf';
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
}
/* ==== Chat page ==== */
#Content{
    display: flex;
    width: 580px;
    height: 790px;
    background: var(--yellow);
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
#userChatInput{
    width: 480px;
    outline: none;
    /* justify-content: center; */
    border-radius: 25px;
    height: 50px;
    float: left;
    border: 2px solid var(--shadow);
    margin: 10px;
}
#userSend{
    width: 70px;
    height: 55px;
    border-radius: 25px;
    float: right;
    border: 2px solid var(--shadow);
    margin: 10px;
}
/* ==== Popup page ==== */
.background {
    width: 600px;
    height: 900px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.show{
    top: -11px;
    left: -11px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
    border-radius: 30px;
    z-index: 1000;
    opacity: 1;
}
.background-popup{
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    text-align: center;
    margin: 300px 100px;
    background: var(--shadow);
}
.background1 {
    width: 600px;
    height: 900px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.show{
    top: -11px;
    left: -11px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
    border-radius: 30px;
    z-index: 1000;
    opacity: 1;
}
.background-popup1{
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    text-align: center;
    margin: 300px 100px;
    background: var(--shadow);
}